mqtt:
  enabled: true
  host: mqtt
  port: 1883

cameras:
  test_camera:
    enabled: true
    ffmpeg:
      inputs:
        - path: /dev/video0
          input_args:
            - -f
            - v4l2
            - -input_format
            - mjpeg
            - -video_size
            - 640x480
            - -framerate
            - '5'
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 480
      fps: 5
    objects:
      track:
        - person
      filters:
        person:
          min_area: 2000
          threshold: 0.65

snapshots:
  enabled: true
  retain:
    default: 7

record:
  enabled: false

detectors:
  cpu:
    type: cpu
    num_threads: 3
